.new_product_form
  //width: 600px
  max-width: 1000px
  positon: relative
  input.string,
  textarea,
  select
    //width: 260px
    width: 100%
    box-sizing: border-box
    padding: 5px 10px
    line-height: 15px
    background: #fff
  .product_form_barcode input.string
    max-width: 200px
  .product_form_massa input.string,
  .product_form_price input.string
    width: 80px
    text-align: right
  textarea
    resize: vertical
    height: 75px
  select
    width: 280px
    height: 50px
  .btn
    padding: 0 25px
    height: 40px
    margin-left: 210px
    font-size: 15px
    clear: both
  label
    width: 170px
    text-align: right
    position: absolute
    left: 0
    top: 5px

  .more_currencies .toggle_button
    margin: 15px 0


  .description
    font-size: 12px
    color: #898989
  .price_wrapper,
  .massa_wrapper
    position: absolute
    left: 0
  
  .control-group
    overflow: hidden
    padding: 2px
    padding-left: 210px
    position: relative

  .controls
    float: left
    position: relative
    margin-bottom: 30px
    width: 100%

  .help-inline
    display: block
    font-size: 14px
    color: #b94a48
  .product_form_photo .controls 
    position: relative
    padding-left: 180px

    .img_upload
      position: absolute
      left: 0
    .sys_msg
      position: relative
      left: -180px
  
  .img_wrap
    float: left
    width: 160px
    margin: 0 20px 20px 0
    clear: none
    text-align: center
    a
      text-transform: uppercase
      text-decoration: none
    .img
      border: 1px solid #efefef
  .product_form_seller
    #search-seller-items
      position: relative
      left: 0
      width: auto
    .sellers-search
      width: 300px
      position: relative
      left: 0
      .btn
        background-position-x: right
    ul
      border: none
      li
        padding: 5px 0
        border: none
        a
          display: block
  .last_viewed 
    display: none
    padding: 5px 0
    ul
      padding: 0
      margin-top: 0
      list-style: none
      a
        color: #898989
        text-decoration: none
        &:hover
          background: #EBEBEB
    &.active
      display: block
      min-width: 300px
  .product_form_add 
    .controls >*
      float: left
      margin-right: 3px
.product_form_unit_measure_id
  position: relative
  padding-left: 185px
  display: none
  &.active
    display: block
  .radio_controls 
    .radio_item
      width: 90px
      float: left
      position: relative
      padding-left: 20px
      label
        position: static
        width: 100px
        line-height: 1.5em
        font-size: 13px
        text-align: left
        color: #898989
        display: block
        cursor: pointer
      input.radio
        position: absolute
        left: 0
        top: 4px
  .radio_controls>.radio_item>.description
    margin-left: -20px
    margin-top: 10px

  >label
    width: auto
    text-align: left
    left: 110px
  .description
    font-size: 12px
    color: #898989