html {
    height: 100%;
}
body {
    overflow-y: auto;
    min-height: 100%;
    font-family: 'PT Sans', sans-serif;
    color: #444;
}
#wrapper {
    min-height: 100%;
    /*height:auto !important;
    height:100%;
    /*margin:0 auto -178px;*/
    margin: 0 auto;
}
#footer_wrapper {
    margin-top: -178px;
    position: relative;
    width: 100%;
    border-top: 1px solid #DBDBDB;
}
#empty_wrap {
    height: 177px;
}
#global_wrapper {
    float: left;
    width: 100%;
    min-width: 710px;
    min-height: 100%;
    height: 100%;
}
#slide_panel {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    background: #fefef9;
    width: 281px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 3px solid #00c3ae;
    /*padding: 11px 13px 0;*/
    padding: 11px 3px 0 11px;
    z-index: 10;
}
#slide_panel_toggle {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 22px;
    left: -36px;
    background: #00c3ae url("disclosed.png") no-repeat center center;
    color: #fff;
    font: bold 14px'Arial';
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
}
#slide_panel_toggle.open:after {
    content: "\d7";
    font-size: 24px;
    line-height: 36px;
}
#slide_panel_toggle.open {
    background: #00c3ae none;
}
#slide_panel #logout {
    position: absolute;
    width: 16px;
    height: 15px;
    background: url(logout.png) 0 0 no-repeat;
    top: 12px;
    right: 11px;
    text-decoration: none;
    text-indent: -9999px;
    cursor: pointer;
}
#slide_panel .member_account_list {
    padding-right: 45px;
    margin-bottom: 25px;
}
#slide_panel .member_account_list ul {
    margin: 0;
    padding: 0;
}
#slide_panel .member_account_list a {
    color: #444;
    font: 0.929em'PT Sans';
}
#slide_panel .member_account_list a:hover {
    text-decoration: none;
}
/***************************/

#slide_panel .my_shopping_lists_header {
    display: block;
    color: #444;
    font: bold 0.813em/1.500em'PT Sans';
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-right: 12px;
}
#slide_panel .my_shopping_lists input, #slide_panel .my_shopping_lists a.fancy {
    /*float: left;*/
    vertical-align: middle;
}
#slide_panel .my_shopping_lists input[type="text"] {
    height: 26px;
    line-height: 26px;
    width: 213px;
    border: 1px solid #dbdbdb;
    text-indent: 9px;
    color: #747474;
    font: 0.813em'PT Sans';
    border-radius: 3px;
    margin-right: 7px;
}
#slide_panel .my_shopping_lists input[type="submit"], #slide_panel .my_shopping_lists a.fancy {
    height: 28px;
    width: 28px;
    line-height: 28px;
    padding: 0;
    background: #01d2bc;
    border: none;
    color: #fff;
    text-align: center;
    font: 1.563em/28px'ProximaNova-Bold';
    border-radius: 3px;
    text-decoration: none;
}
#slide_panel .my_shopping_lists a.not_available {
    height: 28px;
    width: 28px;
    background: #01d2bc;
    border: none;
    color: #fff;
    text-align: center;
    font: 1.563em/28px'ProximaNova-Bold';
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}
#slide_panel .my_shopping_lists input[type="submit"]:hover, #slide_panel .my_shopping_lists a.not_available:hover, #slide_panel .my_shopping_lists a.fancy:hover {
    background: #02CAB5;
}
#slide_panel .shopping_list_items .shopping_list_header {
    position: relative;
    cursor: pointer;
    background: none;
    border-radius: 5px;
    display: block;
    height: 33px;
    text-align: right;
    vertical-align: middle;
    width: 253px;
    padding-top: 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 5px 0;
}
#slide_panel .shopping_list_items .shopping_list_header:hover {
    background: #f6573e;
}
#slide_panel .shopping_list_items .shopping_list_header:hover .title {
    color: #fff;
}
#slide_panel .shopping_list_items .shopping_list_header:hover .title:before {
    background: url("shopping_list_header.png") no-repeat 0 -12px;
}
#slide_panel .shopping_list_items .shopping_list_header:hover em {
    /*
    background-color: #F6573E;
    color:#fff;
    */
    display: none;
}
#slide_panel .shopping_list_items .shopping_list_header .hint {
    position: absolute;
    background: #444447;
    border-radius: 3px;
    color: #FFFFFF;
    font: 0.875em'PT Sans', sans-serif;
    right: 45px;
    padding: 2px 10px;
    position: absolute;
    text-align: center;
    top: 5px;
    z-index: 10;
}
#slide_panel .shopping_list_items .shopping_list_header:hover .go_list {
    display: block;
}
#slide_panel .shopping_list_items .shopping_list_header .go_list {
    display: none;
    position: absolute;
    width: 18px;
    height: 16px;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}
#slide_panel .shopping_list_items.opened .shopping_list_header, #slide_panel .shopping_list_items.no_reg .shopping_list_header {
    cursor: pointer;
    margin: 0;
    background: #F6573E;
    border-radius: 5px;
    display: block;
    height: 33px;
    text-align: right;
    vertical-align: middle;
    width: 253px;
    padding-top: 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#slide_panel .shopping_list_items.opened .shopping_list_header:hover em, #slide_panel .shopping_list_items.no_reg .shopping_list_header:hover em {
    display: none;
}
#slide_panel .incoming_list .incoming_list_header {
    cursor: pointer;
    background: #01d2bc url("shopping_list_header_mail.png") 225px center no-repeat;
    border-radius: 5px;
    display: block;
    height: 33px;
    text-align: left;
    vertical-align: middle;
    width: 253px;
    padding-top: 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 5px 0;
}
#slide_panel .incoming_list .incoming_list_header .title {
    color: #FFFFFF;
    display: block;
    float: left;
    font: 0.875em'PT Sans';
    overflow: hidden;
    padding: 0 0 0 37px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#slide_panel .incoming_list .incoming_list_header .title:before {
    background: url("shopping_list_header.png") no-repeat 0 -12px;
    content: "";
    display: block;
    position: absolute;
    left: 9px;
    top: 50%;
    height: 12px;
    margin: -5px 0 0 0;
    width: 14px;
}
#slide_panel .shopping_list_content .my_price {
    font: 0.813em'PT Sans', sans-serif;
    position: relative;
    width: 253px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: -10px 0 10px;
}
#slide_panel .shopping_list_content .my_price .header {
    color: #00c3ae;
    padding: 6px 0 6px 7px;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
    background: url(my_price_header.png) 230px center no-repeat;
}
#slide_panel .shopping_list_content .my_price .header.active {
    border-bottom: 1px solid transparent;
}
#slide_panel .shopping_list_content .my_price .list {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 10;
    border: 1px solid #e7e7e7;
    width: 100%;
    left: 0;
    top: 30px;
}
#slide_panel .shopping_list_content .my_price .list.active {
    display: block;
}
#slide_panel .shopping_list_content .my_price .list a {
    display: block;
    color: #6c6c6c;
    text-decoration: none;
    padding: 6px 0 6px 7px;
    border-top: 1px solid #e7e7e7;
}
#slide_panel .shopping_list_content .my_price .list a:first-child {
    border: none;
}
#slide_panel .shopping_list_content .my_price .list a:hover {
    background: #fafafa;
}
#slide_panel .shopping_list_content .add_any_product {
    position: relative;
    width: 253px;
    margin-bottom: 5px;
    text-align: left;
}
#slide_panel .shopping_list_content .add_any_product input[type="text"] {
    display: inline-block;
    width: 216px;
    height: 28px;
    border: 1px solid #e7e7e7;
    background: #fff;
    color: #747474;
    font: 13px'PT Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 7px;
}
#slide_panel .shopping_list_content .add_any_product .submit {
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    border: 0;
    padding: 0;
    right: 0;
    top: 50%;
    margin-top: -13px;
    text-align: center;
    vertical-align: middle;
    background: #f3f3f3;
    color: #747474;
    font: 1.4em/26px'PT Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
#slide_panel .shopping_list_items.opened .shopping_list_content {
    padding-top: 10px;
    /*margin-bottom:15px;*/
}
#slide_panel .shopping_list_items.opened .shopping_list_content .attention {
    color: #f6573e;
    font: 0.875em'PT Sans', sans-serif;
    text-align: center;
    margin: 10px 0 5px;
}
#slide_panel .shopping_list_items.opened .shopping_list_content .attention strong {
    font: bold 1.143em'PT Sans', sans-serif;
    display: block;
}
#slide_panel .shopping_list_items.opened .shopping_list_content .attention strong a {
    font-weight: 1em;
    color: #f6573e;
    text-decoration: underline;
}
#slide_panel .shopping_list_items.opened .shopping_list_content .attention strong a:hover {
    text-decoration: none;
}
#slide_panel .shopping_list_items.opened .shopping_list_content .message {
    text-align: center;
    font: 0.875em'PT Sans', sans-serif;
    padding: 15px 0;
    color: #444;
}
#slide_panel .shopping_list_items.opened .shopping_list_content .message strong {
    display: block;
    font: bold 1.143em'PT Sans', sans-serif;
    margin-bottom: 5px;
}
.shopping-lists-container {
    position: relative;
}
.shopping_list {
    overflow: auto;
    max-height: 460px;
    padding: 0 15px 0 0;
    margin: 0;
}
/*
.shopping-lists-container.scroll {
    padding-top:33px;
}
.shopping-lists-container.scroll > div {
    position:relative;
}
.shopping-lists-container.scroll .shopping_list_header {
    position:absolute;
    top:-33px;
    left:0;
}
*/

#slide_panel .shopping_list_items {
    margin-top: 5px;
    margin-right: 10px;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
}
#slide_panel .shopping_list_items.opened {
    border-bottom: 3px solid #F6573E;
}
#slide_panel .shopping_list_items.opened.toggle {
    border-bottom: none;
}
#slide_panel .shopping_list_items.no_reg {
    border: none;
}
#slide_panel .shopping_list_items li {
    list-style: none;
    border-bottom: 1px solid #dbdbdb;
    display: block;
    position: relative;
    padding-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
#slide_panel .shopping_list_items li a {
    color: #444;
    font: 0.813em/1.2em'PT Sans';
    display: inline-block;
    width: 215px;
    margin: 10px 0px 9px 7px;
    text-decoration: none;
}
#slide_panel .shopping_list_items li a:hover {
    text-decoration: underline;
}
#slide_panel .shopping_list_items li.strick a {
    color: #aeaeae;
    text-decoration: line-through;
}
#slide_panel .shopping_list_items li.strick .shop, #slide_panel .shopping_list_items li.strick form {
    display: none;
}
#slide_panel .shopping_list_items li .close {
    display: block;
    position: absolute;
    top: 13px;
    right: 10px;
    width: 12px;
    height: 12px;
    background: url(shopping_list_item_close.png) 0 0 no-repeat;
    cursor: pointer;
}
#slide_panel .shopping_list_items form {
    display: inline-block;
    font: 1em'PT Sans', sans-serif;
}
#slide_panel .shopping_list_items form input, #slide_panel .shopping_list_items form span {
    display: inline-block;
}
#slide_panel .shopping_list_items .shopping_list li form span {
    color: #474747;
    font: 1.500em/25px'PT Sans', sans-serif;
    height: 10px;
    width: 12px;
    /*visibility: hidden;*/
    float: left;
    margin-top: 9px;
}
#slide_panel .shopping_list_items .shopping_list li.active form span {
    visibility: visible;
    cursor: pointer;
}
#slide_panel .shopping_list_items .shopping_list .amount_down {
    background: url(amount_value_sprite_new.png) 0 0 no-repeat;
    cursor: pointer;
}
#slide_panel .shopping_list_items .shopping_list .amount_up {
    background: url(amount_value_sprite_new.png) 0 -20px no-repeat;
    cursor: pointer;
}
#slide_panel .shopping_list_items .shipping_order {
    background: #01d2bc url(shipping_order_bg.png) bottom left repeat-x;
    height: 56px;
    padding: 15px 0 0 10px;
}
#slide_panel .shopping_list_items .shipping_order form {
    height: 33px;
    line-height: 33px;
    display: block;
    padding: 0;
    margin: 0;
}
#slide_panel .shopping_list_items .shopping_list .amount_value_wrap {
    display: inline-block;
    border-radius: 4px;
    /*margin-right:5px;*/
    margin-right: 0;
    width: 50px;
    background: #FEFEF9;
    border: 1px solid #E3E3E3;
    float: left;
    margin: 0 5px 0 4px;
}
#slide_panel .shopping_list_items .shopping_list .amount_value_wrap span {
    color: #444;
    display: inline-block;
    font: 0.875em/25px'PT Sans';
    float: none;
    margin: 0 0 0 5px;
    padding: 0;
    visibility: visible;
}
#slide_panel .shopping_list_items .shopping_list li.active .amount_value_wrap span {
    display: none;
}
#slide_panel .shopping_list_items .shipping_order .parent_wrap.active {
    background: url(list_li_bg_active.png) 133px center no-repeat;
}
#slide_panel .shopping_list_items .shipping_order .parent {
    margin: 0;
    padding: 0;
    border: 0;
    text-indent: 10px;
    cursor: pointer;
    font-family: 'ProximaNova-Regular';
    color: #747474;
    border-radius: 3px;
    display: block;
    position: relative;
}
#slide_panel .shopping_list_items .shipping_order input[type="submit"] {
    width: 45px;
    background: #fff;
    color: #01d2bc;
    font: 1em'ProximaNova-Regular';
    text-align: center;
    height: 33px;
    line-height: 33px;
    display: inline-block;
    border-radius: 3px;
    border: none;
    float: left;
}
#slide_panel .shopping_list_items .shipping_order ul {
    display: block;
    height: 33px;
    margin: 0 3px 0 0;
    padding: 0;
    width: 160px;
    margin-right: 5px;
    float: left;
    position: relative;
}
#slide_panel .shopping_list_items .shipping_order li {
    margin: 0;
    padding: 0;
    border: 0;
    text-indent: 10px;
    cursor: pointer;
    font-family: 'ProximaNova-Regular';
    background: #fff url(list_li_bg.png) 133px center no-repeat;
    color: #747474;
    border-radius: 3px;
    display: block;
    position: relative;
}
#slide_panel .shopping_list_items .shipping_order li.active {
    background: #fff url(list_li_bg_active.png) 133px center no-repeat;
}
#slide_panel .shopping_list_items .shipping_order .child {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    float: none;
    background: #fff;
    border-radius: 3px;
    z-index: 9999;
    border: 1px solid #ddd;
    height: auto;
    width: 144px;
    padding: 0 8px;
    margin: 0;
}
#slide_panel .shopping_list_items .shipping_order .child li:hover {
    color: #01d2bc;
}
#slide_panel .shopping_list_items .shipping_order .active .child {
    display: block;
}
#slide_panel .shopping_list_items .shipping_order .child li {
    background: #fff;
    border-bottom: 1px solid #ddd;
}
#slide_panel .shopping_list_items .shipping_order .child li:last-child {
    border-bottom: none;
}
#slide_panel .shopping_list_items .shipping_order .child:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#slide_panel .shopping_list_items .shipping_order .parent_wrap {
    margin-right: 5px;
    float: left;
}
#slide_panel .shopping_list_items .shipping_order select {
    display: inline-block;
    border-radius: 3px;
    border: none;
    float: left;
    width: 160px;
    color: #747474;
    font: 0.875em'ProximaNova-Regular';
    padding: 7px;
}
#slide_panel .shopping_list_items .shipping_order option {
    color: #747474;
    cursor: pointer;
}
#slide_panel .shopping_list_items .shipping_order input[type="submit"] {
    height: 33px;
    line-height: 33px;
    display: inline-block;
    border-radius: 3px;
    border: none;
}
#slide_panel .shopping_list_items .shopping_list li .amount_value {
    /*width: 48px;*/
    width: 30px;
    color: #444;
    font: 0.875em'PT Sans';
    padding: 0;
    height: 25px;
    line-height: 25px;
    text-align: right;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    background-color: #FEFEF9;
}
#slide_panel .shopping_list_items .shopping_list li .amount_value:hover {
    text-decoration: none;
}
#slide_panel .shopping_list_items .shopping_list li .amount_value {
    text-align: center;
    text-decoration: none;
    cursor: default;
    width: 48px;
    background-color: #fff;
    border-radius: 5px;
}
#slide_panel .shopping_list_items .shopping_list li input[type="submit"] {
    width: 28px;
    height: 28px;
    border: none;
    background: url(shopping_list_submit.png) 0 0 no-repeat;
    margin-left: 5px;
    visibility: hidden;
    vertical-align: bottom;
}
#slide_panel .shopping_list_items .shopping_list li.active input[type="submit"] {
    visibility: visible;
}
/*#slide_panel .shopping_list_items form input[type="submit"] {
    width: 28px;
    height: 28px;
    border:none;
    background: url(shopping_list_submit.png) 0 0 no-repeat;
    margin-left:5px;
}*/

#slide_panel .shopping_list_items .shop {
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 8px;
}
#slide_panel .shopping_list_items .shop .amount {
    font: 1.000em'PT Sans';
    color: #444;
    display: inline-block;
    padding-top: 4px;
}
#slide_panel .shopping_list_items .shop .amount.empty:after {
    content: "";
    margin-right: 25px;
}
#slide_panel .shopping_list_items .shop .shop_name {
    display: block;
    color: #747474;
    font: 0.750em/0.875em'ProximaNova-Regular';
    text-transform: uppercase;
}
#slide_panel .shopping_list_items .total {
    padding: 10px 0;
    width: 100%;
    text-align: right;
}
#slide_panel .shopping_list_items .total div {
    display: inline-block;
    vertical-align: middle;
    color: #444;
    font: 0.750em/0.850em'PT Sans';
    width: 110px;
    margin-right: 5px;
}
#slide_panel .shopping_list_items .total em {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    color: #01d2bc;
    font: bold 1.250em'PT Sans';
}
#slide_panel .shopping_list_items .total .rubl {
    display: inline-block;
    vertical-align: middle;
    font: bold 1.125em'PT Sans' !important;
    color: #01d2bc;
    margin-right: 5px;
}
#slide_panel .shopping_list_items .prices {
    margin: 10px 0 5px
}
#slide_panel .shopping_list_items .prices:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#slide_panel .shopping_list_items .prices .price_down, #slide_panel .shopping_list_items .prices .price_up {
    display: table;
    width: 100%;
    margin: 10px 0;
}
#slide_panel .shopping_list_items .prices .price_down .seller_price span:before {
    background: url("/images/price_sprite.png") no-repeat 0 0;
    content: "";
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-right: 5px;
}
#slide_panel .shopping_list_items .prices .price_down .seller_price span:after {
    content: "P";
    display: inline-block;
    height: 11px;
    width: 11px;
    font: 0.875em'PT Sans';
    margin-left: 2px;
}
#slide_panel .shopping_list_items .prices .price_up .seller_price span:before {
    background: url("/images/price_sprite.png") no-repeat 0 -11px;
    content: "";
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-right: 5px;
}
#slide_panel .shopping_list_items .prices .price_up .seller_price span:after {
    content: "P";
    display: inline-block;
    height: 11px;
    width: 11px;
    font: 0.875em'PT Sans';
    margin-left: 2px;
}
#slide_panel .shopping_list_items .prices .info_seller, #slide_panel .shopping_list_items .prices .seller_price {
    display: inline-block;
}
#slide_panel .shopping_list_items .prices .seller_name {
    display: inline-block;
    color: #4c4c4c;
    font: bold 0.875em'PT Sans';
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-bottom: 1px solid #787877;
}
#slide_panel .shopping_list_items .prices .seller_name:hover {
    border-bottom: 1px solid #fff;
}
#slide_panel .shopping_list_items .prices .info_seller span {
    color: #909090;
    font: 0.750em'PT Sans';
    display: block;
}
#slide_panel .shopping_list_items .prices .seller_price {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
#slide_panel .shopping_list_items .prices .seller_price span {
    color: #4c4c4c;
    font: 1.125em'ProximaNova-Bold';
}
#slide_panel .ui-accordion-header-active {
    background: #f6573e;
    padding: 8px 0 6px;
    border-radius: 5px;
    border-bottom: none;
}
#slide_panel .shopping_list_header.ui-accordion-header-active .title, #slide_panel .shopping_list_header.ui-accordion-header-active em {
    color: #fff;
}
#slide_panel .shopping_list_header.ui-accordion-header-active em {
    background: none;
    font-size: 0.750em;
    font-weight: bold;
}
#slide_panel .shopping_list_header.ui-accordion-header-active .title {
    font: 1.125em'ProximaNova-Bold';
}
#slide_panel .shopping_list_header.ui-accordion-header-active .title:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 12px;
    margin: 0 14px 0 10px;
    background: url(shopping_list_header.png) 0 -12px no-repeat;
}
#slide_panel .shopping_list_items.opened .shopping_list_header .title, #slide_panel .shopping_list_items.no_reg .shopping_list_header .title {
    color: #FFFFFF;
    display: block;
    width: 210px;
    padding-top: 0;
    float: left;
    font: 0.875em'PT Sans';
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 37px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#slide_panel .shopping_list_items .shopping_list_header .title {
    color: #4c4c4c;
    display: block;
    width: 210px;
    padding-top: 0;
    float: left;
    font: 0.875em'PT Sans';
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 37px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#slide_panel .shopping_list_items .shopping_list_header .title:before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 12px;
    left: 9px;
    top: 50%;
    margin: -6px 0 0 0;
    background: url(shopping_list_header.png) 0 0 no-repeat;
}
#slide_panel .shopping_list_items.opened .shopping_list_header .title:before, #slide_panel .shopping_list_items.no_reg .shopping_list_header .title:before {
    background: url(shopping_list_header.png) 0 -12px no-repeat;
    margin: -5px 0 0 0;
}
#slide_panel .shopping_list_items.opened .shopping_list_header em, #slide_panel .shopping_list_items.no_reg .shopping_list_header em {
    color: #fff;
    display: inline-block;
    font-size: 0.688em;
    font-style: normal;
    margin-right: 14px;
    background-color: #F6573E;
}
.count_products {
    background-color: #EBEBEB;
    color: #696969;
    display: inline-block;
    position: absolute;
    right: -7px;
    top: 50%;
    line-height: 19px;
    font-size: 0.688em;
    font-style: normal;
    margin-right: 14px;
    padding: 0 6px;
    height: 18px;
    margin-top: -8px;
    border-radius: 8px;
}
#slide_panel .empty_shopping_list {
    margin-top: 15px;
    text-align: center;
    color: #444;
    font: 0.875em'PT Sans';
}
#slide_panel .empty_shopping_list .header {
    font-size: 1.143em;
    font-weight: bold;
    margin-bottom: 10px;
}
#slide_panel .favorits_info {
    height: 46px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#slide_panel .favorits_change {
    position: relative;
    display: none;
}
#slide_panel .favorits_change form {
    display: block;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 7px;
    height: 46px;
}
#slide_panel .favorits_change input[type="text"] {
    width: 25px;
    color: #444;
    font: 0.875em'ProximaNova-Regular';
    border: 1px solid #e1e0d9;
    border-radius: 3px;
    text-align: center;
    padding: 7px 0 4px;
    margin-left: 23px;
}
#slide_panel .favorits_change input[type="submit"] {
    background: #01d2bc;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font: 0.750em'ProximaNova-Regular';
    padding: 8px 14px 7px;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
}
#slide_panel .favorits_change .pref {
    display: inline-block;
    color: #444;
    font: 0.875em'ProximaNova-Regular';
    margin-left: 25px;
}
#slide_panel .favorits_change .amount_down, #slide_panel .favorits_change .amount_up {
    display: block;
    width: 12px;
    height: 12px;
    font-size: 24px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    cursor: pointer;
    border: none;
}
#slide_panel .favorits_change .amount_down {
    left: 4px;
    background: url(pl_m.png) 0 0 no-repeat;
}
#slide_panel .favorits_change .amount_up {
    right: -23px;
    background: url(pl_m.png) 0 -12px no-repeat;
}
#slide_panel .form_wrap {
    display: inline-block;
    position: relative;
}
#slide_panel .delete_favorit {
    background: url("/images/delet.png") no-repeat 0 0;
    cursor: pointer;
    height: 14px;
    margin-top: -7px;
    position: absolute;
    right: 13px;
    top: 50%;
    width: 12px;
}
#slide_panel .my_shopping_lists {
    margin-bottom: 10px;
}
#slide_panel .my_shopping_lists .my_shopping_lists_header, #slide_panel .my_shopping_lists .fancy {
    display: inline-block;
}
#slide_panel .my_shopping_lists:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#slide_panel .send_list {
    text-align: right;
    padding-right: 5px;
}
#slide_panel .send_list .send_list_button {
    background: #01D2BC url(send_list_bg.png) 7px center no-repeat;
    color: #fff;
    box-shadow: 0 2px 0 0 #2EAA91;
    border: none;
    border-radius: 3px;
    font: 0.813em'PT Sans';
    padding: 6px 7px 6px 27px;
    text-decoration: none;
}
#slide_panel .send_list .send_list_button:hover {
    background: #02CAB5 url(send_list_bg.png) 7px center no-repeat;
}
#slide_panel .send_list .send_list_button:active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.125) inset;
}
footer > * {
    font-family: 'PT Sans';
}
/*************************************************/

aside.right .bar_code {
    color: #444;
    font: 0.875em'PT Sans';
    background: url(bar_code.png) left center no-repeat;
    padding-left: 22px;
    margin-bottom: 15px;
}
aside.right .share_friends {
    color: #444444;
    font: 0.875em'PT Sans', sans-serif;
    margin-bottom: 15px;
}
aside.right .share_friends span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
aside.right .share_friends a {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 24px;
    margin-right: 3px;
}
aside.right .share_friends a:hover {
    opacity: 0.9;
}
aside.right .share_friends a.vk {
    background: url(share_friends.png) 0 0 no-repeat;
}
aside.right .share_friends a.fb {
    background: url(share_friends.png) 0 -34px no-repeat;
}
aside.right .share_friends a.tw {
    background: url(share_friends.png) 0 -68px no-repeat;
}
aside.right .android {
    display: block;
    margin-bottom: 45px;
}
aside.right .android:hover {
    opacity: 0.9;
}
aside.right #page_tabs {
    padding: 0;
    margin: 0 0 16px;
}
aside.right #page_tabs li {
    display: inline-block;
}
aside.right #page_tabs li a {
    text-decoration: none;
    color: #444;
    font: bold 0.875em'PT Sans';
    margin-right: 19px;
    text-transform: uppercase;
    border-bottom: 1px dotted #444;
}
aside.right #page_tabs li.current a {
    color: #01d2bc;
    border: none;
}
aside.right #page_tabs li a:hover {
    border: none;
}
aside.right .need_register {
    width: 83%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #444;
    font: 0.875em'PT Sans';
    background: #fbfaef;
    padding: 12px;
}
aside.right .need_register a {
    color: #444;
}
aside.right .need_register a:hover {
    text-decoration: none;
}
aside.right p.system {
    color: #444;
    font: 1em/1.125em'PT Sans';
    margin: 0 0 15px;
    padding: 0;
    width: 533px;
}
#slide_panel .user_block {
    margin: 10px 0 50px 10px;
}
#slide_panel .user_block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#slide_panel .user_block .log_in {
    display: table-cell;
    vertical-align: middle;
    padding-left: 18px;
}
#slide_panel .user_block .log_in a {
    color: #444;
    font: bold 0.875em'PT Sans';
    background: url(log_in.png) left center no-repeat;
    text-transform: uppercase;
    padding-left: 23px;
}
#slide_panel .user_block .log_in a:hover {
    text-decoration: none;
}
#slide_panel .user_block .registration {
    text-decoration: none;
    font: bold 0.875em'PT Sans';
    padding: 0 23px;
    height: 39px;
    display: table-cell;
    vertical-align: middle;
}
#login_form_page {
    display: inline-block;
    margin-top: 5px;
}
#login_form_page input[type="email"], #login_form_page input[type="password"], #login_form_page input[type="text"] {
    display: inline-block;
    color: #9b9b9b;
    font: 0.938em'PT Sans';
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 262px;
    border: 1px solid #ddd;
    padding: 14px 0 14px 49px;
    margin: 0 9px 0 0;
    border-radius: 5px;
    position: relative;
    vertical-align: top;
}
#login_form_page .mail {
    background: url(form_img_mail.png) 15px center no-repeat;
}
#login_form_page .pass {
    background: url(form_img_pass.png) 15px center no-repeat;
}
#login_form_page .small_button_green {
    padding: 14px 40px;
    margin-right: 22px;
    color: #fff;
    font: bold 0.875em'PT Sans';
    text-transform: uppercase;
}
#login_form_page .small_button_green.small {
    padding: 14px 20px;
    display: block;
    margin: 20px 0 0 0;
}
#login_form_page .pass_remember {
    display: block;
    margin: 20px 0;
    color: #747474;
    font: 0.875em;
    width: 130px;
}
#login_form_page .pass_remember:hover {
    text-decoration: none;
}
#login_form_page .registration {
    color: #444;
    font: bold 1.125em'PT Sans';
}
#login_form_page .registration:hover {
    text-decoration: none;
}
#login_form_page .captcha {
    display: inline-block;
    text-align: center;
}
#login_form_page .captcha a {
    display: block;
    color: #444447;
    font: 0.750em/0.1em'PT Sans';
}
#login_form_page .captcha a:hover {
    text-decoration: none;
}
#select-city-modal {
    width: 420px;
}
#select-city-modal form {
    position: relative;
    margin-bottom: 48px;
}
#select-city-modal .modal_title {
    margin: 0 0 25px 18px;
}
#select-city-modal input[type="submit"] {
    width: 88px;
}
#select-city-modal input[type="text"] {
    width: 292px;
    padding: 16px 0 14px 18px;
    margin-bottom: 7px;
    background: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    font: 0.938em/1'PT Sans';
    color: #9b9b9b;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#select-city-modal ul {
    position: relative;
    top: -12px;
    left: 21px;
    width: 286px;
}
/******************************************/

.right_col.category {
    width: 100%;
}
.right_col.category .column_row {
    margin-bottom: 20px;
}
.right_col.category .column_row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.right_col.category .column_row .column {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 0 0 3%;
    margin: 0;
}
.right_col.category .column_row .column:first-child {
    padding-left: 0;
}
.right_col.category .column_row .column .cats {
    padding: 0;
    margin: 0;
}
.right_col.category .column_row .column .cats li {
    list-style: none;
}
.right_col.category .column_row .column .cats li a {
    color: #444447;
    font: 0.875em'PT Sans';
}
.right_col.category .column_row .column .cats li a:hover {
    text-decoration: none;
}
.right_col.category .column_row .column .cats li.title {
    display: block;
    text-align: left;
    margin-bottom: 15px;
}
.right_col.category .column_row .column .cats li.title a {
    color: #f6573e;
    font: bold 1.125em'PT Sans';
    text-decoration: none;
}
.right_col.category .column_row .column .cats li.title a:hover {
    text-decoration: underline;
}
.right_col.category .column_row .column .cats .unvisible {
    display: none;
}
.right_col.category .column_row .column .cats .unvisible.active {
    display: block;
}
.right_col.category .column_row .column .cats .reveal {
    display: block;
}
.right_col.category .column_row .column .cats span {
    display: inline-block;
    border-bottom: 1px dotted #7A7A7A;
    color: #7A7A7A;
    cursor: pointer;
    font: 11px/18px Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-top: 3px;
}
.right_col.category .column_row .column .cats span:hover {
    border: none;
}
/***************************************/

.news_date_label {
    background: none repeat scroll 0 0 #01D2BC;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font: bold 0.813em'PT Sans', sans-serif;
    padding: 2px 5px;
}
#news_list {
    /*padding-right:5%;*/
    margin-bottom: 70px;
}
#news_list + .bottom_pagination {
    margin-bottom: 35px;
}
#news_list, #news_list > div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#news_list .news_item {
    margin-bottom: 40px;
}
#news_list .news_item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#news_list .news_item .news_item_img {
    float: left;
    width: 125px;
    text-align: center;
    border: 1px solid #f0f0f0;
    padding: 8px 0;
    border-radius: 5px;
}
#news_list .news_item .news_item_header, #news_list .news_item .news_item_content {
    margin-left: 145px;
}
#news_list .news_item .news_date_label {
    margin-left: 20px;
}
#news_list .news_item.no_img .news_item_header, #news_list .news_item.no_img .news_item_content, #news_list .news_item.no_img .news_date_label {
    margin-left: 0;
}
#news_list .news_item .news_item_header {
    color: #444;
    font: bold 1.125em/100%'PT Sans', sans-serif;
    margin-bottom: 5px;
}
#news_list .news_item .news_item_header a {
    color: #444;
    font-size: 1em;
}
#news_list .news_item .news_item_header a:hover {
    text-decoration: none;
}
#news_list .news_item .news_item_content {
    color: #444;
    font: 0.875em/140%'PT Sans', sans-serif;
    margin-bottom: 15px;
}
/************************************/

#news_detail {
    /*padding-right:5%;*/
}
#news_detail .news_detail_date {
    margin-bottom: 15px;
    color: #737678;
    font: 0.875em'PT Sans', sans-serif;
}
#news_detail .main_news_img {
    display: block;
    margin-bottom: 10px;
}
#news_detail p {
    margin: 0 0 15px;
    padding: 0;
    color: #1f1f26;
    font: 0.938em/100%'PT Sans', sans-serif;
}
#news_detail blockquote {
    margin: 0 0 10px;
    padding: 0 0 0 45px;
    color: #1f1f26;
    font: bold 1em/100%'PT Sans', sans-serif;
    background: url(/site/images/blockquote.png) left top no-repeat;
}
#news_detail h2, #news_detail h3 {
    color: #1f1f26;
    font: bold 1.125em'PT Sans', sans-serif;
    margin: 0 0 20px;
    padding: 0;
    text-transform: none;
}
#news_detail ul {
    margin: 0 0 25px 16px;
    padding: 0;
}
#news_detail ul li {
    list-style-type: square;
    font: 0.938em/100%'PT Sans', sans-serif;
    margin-bottom: 5px;
}
p.border_block {
    border: 3px solid #00c3ae;
    padding: 10px 15px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/************************************************/

/************************************************/

/************************************************/

#top_page_panel {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    -webkit-box-shadow: 0px 1px 3px 0px #DBDBDB;
    -moz-box-shadow: 0px 1px 3px 0px #DBDBDB;
    box-shadow: 0px 1px 3px 0px #DBDBDB;
}
#top_page_panel .top_page_panel_content {
    position: relative;
    margin: 0 auto;
    width: 96%;
    max-width: 1280px;
    height: 28px;
    overflow: hidden;
    display: table;
}
#top_page_panel .top_page_panel_content.wide {
    max-width: 96%;
    width: 96%;
}
#top_page_panel .top_page_panel_content > div {
    display: block;
    float: left;
    position: relative;
}
#top_page_panel .top_page_panel_content a {
    display: table-cell;
    vertical-align: middle;
    height: 28px;
    color: #d9d9d9;
    position: relative;
    font: 0.750em"PT Sans", sans-serif;
}
#top_page_panel .top_page_panel_content a:hover {
    text-decoration: none;
}
#top_page_panel .top_page_panel_content a span {
    color: #676666;
}
#top_page_panel .top_page_panel_content .main_link {
    background: #f3573e;
    padding: 0 12px;
    margin-right: 18px;
}
#top_page_panel .top_page_panel_content .main_link a {
    color: #fff;
    font: bold 0.750em"PT Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
#top_page_panel .top_page_panel_content .chois {
    margin-left: 30px;
}
#top_page_panel .top_page_panel_content .chois:before {
    background: url("place_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 20px;
    left: -18px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 15px;
}
#top_page_panel .top_page_panel_content .chois a {
    color: #676666;
    font: bold 0.750em"PT Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
#top_page_panel .top_page_panel_content .chois span {
    border-bottom: 1px dotted #868686;
    display: inline-block;
    line-height: 110%;
}
#top_page_panel .top_page_panel_content .chois span:hover {
    border: none;
}
#bottom_page_panel {
    position: relative;
    width: 100%;
    background: #444;
}
#bottom_page_panel .bottom_page_panel_content {
    position: relative;
    margin: 0 auto;
    width: 96%;
    max-width: 1280px;
    overflow: hidden;
    display: table;
}
#bottom_page_panel .bottom_page_panel_content > div {
    display: table-cell;
    vertical-align: middle;
    height: 31px;
    color: #fff;
    font: 0.750em"PT Sans", sans-serif;
    padding-left: 16px;
}
#bottom_page_panel .bottom_page_panel_content a {
    color: #737373;
}
#bottom_page_panel .bottom_page_panel_content a:hover {
    text-decoration: none;
}
#bottom_page_panel .bottom_page_panel_content a span {
    color: #fff;
}
#bottom_page_panel .bottom_page_panel_content .main_link {
    width: 115px;
    text-align: center;
    background: #f3573e;
    margin-right: 18px;
    padding: 0;
}
#bottom_page_panel .bottom_page_panel_content .main_link a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
/*
HEADER.elastic_header.seller {
    overflow:hidden;
}
HEADER.elastic_header.seller .hdr {
    display:table;
}
HEADER.elastic_header.seller .hdr > div, HEADER.elastic_header.seller .hdr > nav {
    display:table-cell;
    vertical-align:middle;
    height:65px;
}
HEADER.elastic_header.seller .logo_wrap .logo {
    float:none;
    margin:0;
    padding:0;
}
*/

HEADER.elastic_header.seller {
    overflow: hidden;
}
HEADER.elastic_header.seller .hdr .logo_wrap {
    width: 325px;
    float: left;
    padding: 5px 10px 0 0;
}
HEADER.elastic_header.seller .hdr .logo_wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
HEADER.elastic_header.seller .hdr .logo_wrap span {
    color: #444;
    font: 1.875em/90%"PT Sans", sans-serif;
    display: table-cell;
    margin-top: 13px;
    width: 100%;
    height: 71px;
    vertical-align: middle;
}
HEADER.elastic_header.seller .hdr .logo {
    background: url("logo_empty.png") no-repeat 0 0;
    margin: 0;
    width: 325px;
    height: 71px;
}
HEADER.elastic_header.seller .place_seller {
    border-left: 1px solid #EEEEEE;
    display: block;
    float: left;
    height: 80px;
    position: relative;
    width: 215px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 15px;
}
HEADER.elastic_header.seller .place_seller a {
    color: #747474;
    font: 0.875em"PT Sans", sans-serif;
    text-decoration: none;
    /*display:inline-block;
    margin-top:30px;*/
    display: table-cell;
    height: 80px;
    vertical-align: middle;
    width: 185px;
}
HEADER.elastic_header.seller .place_seller span {
    display: inline;
    line-height: 110%;
    border-bottom: 1px dotted #747474;
}
HEADER.elastic_header.seller .place_seller span:hover {
    border: none;
}
HEADER.elastic_header.seller .seller_phone {
    display: table-cell;
    height: 80px;
    vertical-align: middle;
    padding-left: 20px;
    border-left: 1px solid #eeeeee;
    color: #444;
    font: 1.250em"PT Sans", sans-serif;
}
#footer_wrapper.seller {
    margin-top: -79px;
}
#footer_wrapper.seller footer.elastic_footer {
    display: table;
    height: 80px;
}
#footer_wrapper.seller footer.elastic_footer > div, #footer_wrapper.seller footer.elastic_footer nav {
    float: none;
    display: table-cell;
    height: 80px;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#footer_wrapper.seller footer.elastic_footer .copyright {
    color: #444;
    font: 1.125em"PT Sans", sans-serif;
    padding: 0 15px 0 0;
    width: 299px;
    border-right: 1px solid #eee;
}
#footer_wrapper.seller footer.elastic_footer .place_seller {
    padding: 0;
    width: 236px;
    text-align: center;
    border-right: 1px solid #eee;
    padding: 0 15px;
}
#footer_wrapper.seller footer.elastic_footer .place_seller a {
    color: #747474;
    font: 0.875em"PT Sans", sans-serif;
    text-decoration: none;
    display: inline-block;
}
#footer_wrapper.seller footer.elastic_footer .place_seller span {
    display: inline;
    line-height: 110%;
    border-bottom: 1px dotted #747474;
}
#footer_wrapper.seller footer.elastic_footer .place_seller span:hover {
    border: none;
}
#footer_wrapper.seller footer.elastic_footer .footer_menu {
    width: 245px;
    text-align: center;
    /*border-right:1px solid #eee;*/
}
#footer_wrapper.seller footer.elastic_footer .footer_menu a {
    border-bottom: 1px solid #D0D0D0;
    color: #444444;
    font: bold 0.75em/1'PT Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 30px;
}
#footer_wrapper.seller footer.elastic_footer .footer_menu a:first-child {
    margin-left: 0;
}
#footer_wrapper.seller footer.elastic_footer .footer_menu a:hover {
    border: none;
}
#footer_wrapper.seller footer.elastic_footer .seller_phone {
    padding: 0 0 0 20px;
    color: #444;
    font: 1.250em"PT Sans", sans-serif;
    border-left: 1px solid #eee;
}
.seller_contact_blocks {
    width: 76%;
}
.seller_contact_blocks:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.seller_contact_blocks .info {
    float: left
}
.seller_contact_blocks .info h3 {
    color: #444;
    font: bold 0.938em"PT Sans", sans-serif;
    margin-bottom: 10px;
    text-transform: none;
}
.seller_contact_blocks .info p {
    color: #444;
    font: 0.938em"PT Sans", sans-serif;
    margin: 0 0 8px;
}
.seller_contact_blocks .info a {
    color: #444;
}
.seller_contact_blocks .info a:hover {
    text-decoration: none;
}
.seller_contact_blocks #contact_seller_map {
    float: right;
    position: relative;
    width: 402px;
    height: 335px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
/************************************************/
.green_highlight{
    color:#01d2bc;
}
body.sellers form.sellers-search,
body.sellers .sellers-types,
body.sellers h1{
    display: inline-block;
}
body.sellers form.sellers-search{
    position: static;
}
body.sellers .content.item_page h1{
    margin-right: 20px;
    margin-bottom: 0;
}
body.sellers article.catalog{
    margin-top: 25px;
}
.seller_settings form>div {
    position: relative;
    padding-left: 180px;
    margin-bottom: 15px;
}
.seller_settings form .seller-types span{
    margin-right:20px;
}
.seller_settings form .seller-types span>input{
    margin-right: 5px;
}
.seller_settings form>div>label {
    position: absolute;
    left: 0;
    top: 5px;
    width: 165px;
    text-align: right;
}
.tovar_add_price.seller_settings form>div>label{
    text-transform: uppercase;
}
.tovar_add_price .product_form_unit_measure_id label.control-label {
    text-transform: uppercase;
    top: 5px;
    position: absolute;
    left: 120px;
    
}
.tovar_add_price .product_form_unit_measure_id .radio_item{
    float: left;
    padding: 0 5px;
}
.tovar_add_price .product_form_unit_measure_id .radio_item .description{
    padding:0;
}
.tovar_add_price .product_form_unit_measure_id .more_currencies .toggle_button{
    margin-top: 10px;
    margin-left: 30px;
}
.seller_settings form .img_block>div {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}
.seller_settings form .img_block .img_wrap img {
    max-width: 70px;
    height: auto;
}
.seller_settings form input.string {
    padding: 5px 10px;
    margin-right: 10px;
    width: 95%;
}
.seller_settings.tovar_add_price form input.string{
    width:60%;
}
.seller_settings.tovar_add_price form .price_wrapper{
    float: left;
}
.seller_settings.tovar_add_price form .product_form_unit_measure_id{
    padding-left: 200px;
    position: relative;
}
.seller_settings.tovar_add_price form .price_wrapper input.string{
    width: 80px;
    text-align: right;
}
.seller_type label.checkbox {
    text-transform: uppercase;
    padding-left: 25px;
}
.seller_settings .description {
    color: #868686;
    padding-left: 25px;
}
.seller_settings .select_wrap {
    padding: 0 10px 0 45px;
}
.seller_settings .select_wrap >* {
    padding: 8px 0;
}
.seller_settings .autocomp_list {
    border: none;
    padding-left: 5px;
    background: #fff;
}
.seller_settings .autocomp_list li {
    position: relative;
    padding-left: 15px;
    border: none;
}
.seller_settings .autocomp_list li:hover {
    background: #fff;
}
.seller_settings .autocomp_list label:hover {
    color: #444;
}
.seller_settings .expansion {
    position: absolute;
    left: 0;
    top: 12px;
    width: 10px;
    height: 10px;
    overflow: hidden;
}
.seller_settings .expansion.expanded, .seller_settings .expansion.closed {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAMAAABA3o1rAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF////UWuUAAAAZUNCoAAAAAF0Uk5TAEDm2GYAAAAqSURBVHjaYmBkQAWMEIAsgE0FKh9TBboGdBX41GMCQvIMhORHAZEAIMAAOrQAIck8keUAAAAASUVORK5CYII=);
    background-position: 3px 0;
}
.seller_settings .expansion.expanded {
    background-position: 17px 0;
}
.seller_settings .region_data {
    color: #868686;
}
.seller_settings .region_tablerow > * {
    float: left;
    width: 48%;
    clear: none;
}
.seller_settings .region_tablerow {
    padding: 8px 0;
}
.seller_settings .region_tablerow>ul {
    max-height: 500px;
    overflow: auto;
}
.seller_settings .fast_region_select {
    padding-left: 15px;
}
.seller_settings .fast_region_select>div {
    margin-bottom: 15px;
}
.seller_settings .fast_region_select ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.seller_settings .fast_region_select a {
    border-bottom: 1px dashed;
    text-decoration: none;
}
.seller_settings .fast_region_select a:hover {
    border-bottom-style: solid;
}
.seller_settings .fast_region_select .title {
    font-weight: bold;
}
.seller_settings .seller_stac_name input {
    max-width: 600px;
}
.seller_settings .seller_stac_data {
    padding: 0 10px 15px 45px;
}
.seller_settings .seller_stac_data .adress_list {
    list-style: decimal;
}
.seller_settings .seller_stac_name input {
    width: 100%;
    padding: 5px;
}
.seller_settings .seller_stac_hours input {
    width: 35px;
    padding: 5px 0px;
}
.seller_settings .stac_edit_form {
    display: none;
}
.seller_settings .stac_edit_form.active {
    display: block;
}
.seller_settings .stac_edit_form .toggle_button{
    margin-left: 30px;
}
.seller_settings .selling_dist >input, .seller_settings .stac_type input {
    position: absolute;
    left: 0;
    top: 5px;
}
.seller_settings .manage_region, .seller_settings .add_stac_data {
    margin-left: 15px;
}
.seller_settings .reg_prod_action {
    text-decoration: none;
    text-transform: none;
    font-size: 1em;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    background: #01d2bc;
}
.seller_settings .map_wrp a.showmap {
    border-bottom: 1px dashed;
    text-decoration: none;
}
.seller_settings .map_wrp a.hidemap{
    margin-left: 40%;
}
.seller_settings .map_wrp>div {
    width: 100%;
    max-width: 700px;
    height: 500px;
    margin-top: 10px;
}
.or_text{
    color:#f6573e;
    margin: 15px;
}
.modal.ready_modal,
.modal.choose_create {
    width: 320px;
    height: 210px;
    padding:25px 50px 30px;
    height: auto;
    text-align: center;
}
.modal.ready_modal .button,
.modal.choose_create .button{
    display: block;
    text-transform: none;
    text-align: center;
    padding: 10px 5px;
}
/************************************************/

/************************************************/

/************************************************/

.header_profil {
    float: right;
    display: table;
    height: 75px;
    width: 260px;
    position: absolute;
    background: #fff;
    top: 0;
    z-index: 10;
}
.header_profil > div {
    display: table-cell;
    vertical-align: middle;
}
.header_profil .avatar {
    width: 170px;
    overflow: hidden;
    position: relative;
}
.header_profil .avatar a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
    width: 23px;
    height: 39px;
    background: url(header_profil_shadow.png) 0 0 no-repeat;
}
.header_profil .avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: block;
    float: left;
}
.header_profil .avatar a {
    display: block;
    color: #444;
    font: 0.875em'PT Sans', sans-serif;
    position: absolute;
    left: 55px;
    top: 28px;
    width: 115px;
    overflow: hidden;
}
.header_profil .avatar a:hover {
    text-decoration: none;
}
.header_profil .links a {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 15px;
    vertical-align: middle;
}
.header_profil .links a.tally_list {
    background: url("top_header_sprites.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
}
.header_profil .links a.tally_list:hover {
    background: url("top_header_sprites.png") no-repeat scroll -20px 0 rgba(0, 0, 0, 0);
}
.header_profil .links a.elected_goods {
    height: 22px;
    width: 22px;
    background: url("min_favorit_star.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.header_profil .links a.elected_goods:hover {
    background: url("min_favorit_star.png") no-repeat scroll 0 -31px rgba(0, 0, 0, 0);
}
.add_more_block{
    margin-bottom:28px;
}
.add_more_block a.button{
    margin-top: 18px;
    display: block;
    width: 100px;
    text-align: center;
}
.sys_msg{
    clear: both
}
.sys_msg .error_msg{
    color: #ef4c27
}
.reviews .review_row{
    position: relative;
    padding-left: 90px;
}
.reviews .review_avatar{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    overflow: hidden;
    position: absolute;
    left: 0;
}
.reviews .review_avatar img{
    width:100%;
    height: auto;
}
.reviews .review_avatar{
    }