#wrapper.main #header{
	overflow: hidden;
	height:42px;
}
#wrapper.main #header header {
	background:#fff;
	padding:0;
	margin:0;
}
#wrapper.main #top_search input[type="search"] {
    background:#fff url("/mobile/images/search_icon.png") no-repeat 15px center;
	border:none;
	padding:8px 0 8px 40px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;	
	width:100%;
	color:#7e7e7e;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}
#wrapper.main #header header h1 {
    color: #FF553B;
    display: block;
    font: bold 1.375em 'PT Sans',sans-serif;
    margin: 0;
    outline: 0 none !important;
    overflow: hidden;
    padding: 6px 0;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;	
}
#wrapper.main #content_area {
	margin:0;
	padding:0;
}
#wrapper {
	position:relative;
	
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#wrapper.no_header #search_filter_result {
	top:0 !important;
}

.empty_content_wrap {
	background:#f5f5f5;
}
.empty_content_wrap #content_area {
	position:absolute;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:#f5f5f5;
}
/*
#wrapper.filter #content_area {
	margin-top:180px;
}
*/


#add_shopping_lists_modal {
	display:none;
}
/*
#toggle_menu {
    background: url("/mobile/images/menu_button.png") no-repeat center center;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 25px;
    left: 0 !important;
    margin: -12px 0 0;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 30px;
}
*/
/***************/
#modal_window, #modal_window_receiv, #modal_window_edit {
	width:300px;
}
/********************************/
#edit_product_window .modal_window_header, #add_price_window .modal_window_header {
	font: 0.95em/100% 'Roboto',sans-serif;
	text-overflow:ellipsis;
	 -o-text-overflow:ellipsis;
	 -ms-text-overflow:ellipsis;
	overflow:hidden;
	height:45px;
	white-space: nowrap;
}
#edit_product_window  .input_text_wrap, #add_price_window .input_text_wrap {
	margin-bottom:15px;
}
#edit_product_window .edit_adress .input_text_wrap, #add_price_window .select_seller .input_text_wrap {
	width:100%;
}
#add_price_window .select_seller .input_text_wrap.no_remove {
	padding-right:40px;
} 
#add_price_window .select_seller .input_text_wrap.no_remove .edit {
	position:absolute;
	width:28px;
	height:28px;
	right:5px;
	top:50%;
	margin-top:-17px;
	background: url("/mobile/images/footer_icon.png") repeat 0 -66px;
} 
#edit_product_window .edit_price, #add_price_window .input_price {
	width:100%;
	text-align:left;
}
#edit_product_window .edit_price .input_text_wrap, #add_price_window .input_price .input_text_wrap {
	width:75%;
}
#edit_product_window .edit_price .input_text_wrap input, 
#add_price_window .input_price .input_text_wrap input,
#add_to_list_window .edit_price  .input_text_wrap input {
	text-align:center;
}
#edit_product_window .edit_price .currency, 
#add_price_window .input_price .currency,
#add_to_list_window .edit_price .currency {
	width:55px;
	position:relative;
	border-bottom: 1px solid #00C5B0;
	text-align:center;
	color:#7d7d7d;
	font:1em 'Roboto', sans-serif;
	padding: 0 8px 2px;
	margin-left:10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
	margin-top:6px;
}
#add_to_list_window .edit_price .input_text_wrap {
	width:210px;
}
#edit_product_window .edit_price .currency:before, #edit_product_window .edit_price .currency:after,
#add_price_window .input_price .currency:before, #add_price_window .input_price .currency:after,
#add_to_list_window .edit_price .currency:before, #add_to_list_window .edit_price .currency:after {
    background: none repeat scroll 0 0 #00C5B0;
    bottom: 0;
    content: "";
    height: 4px;
    position: absolute;
    width: 1px;
}
#edit_product_window .edit_price .currency:before, #add_price_window .input_price  .currency:before, #add_to_list_window .edit_price .currency:before {left:0}
#edit_product_window .edit_price .currency:after, #add_price_window .input_price .currency:after, #add_to_list_window .edit_price .currency:after {right:0}
#edit_product_window .edit_price > div, #add_price_window .input_price > div, #add_to_list_window .edit_price > div {
	display:inline-block;
}
#edit_product_window .modal_window_content, 
#add_price_window .modal_window_content,
#add_to_list_window .modal_window_content {
	padding:15px 8px 10px;
}
#edit_product_window .modal_chekbox {
	text-align:left;
}
#edit_product_window .edit_adress:before, #edit_product_window .edit_adress:after {
    background: #00C5B0;
    bottom: 0;
    content: "";
    height: 4px;
    position: absolute;
    width: 1px;	
}
#edit_product_window .edit_adress:before {left:0}
#edit_product_window .edit_adress:after {right:0}

.modal_window .select_seller,
#edit_product_window .edit_adress, 
#add_to_list_window .edit_adress,
#content_area.edit_page .edit_adress {
	position:relative;
	color:#3c4b54;
	font:0.938em 'Roboto',​sans-serif;
	border-bottom:1px solid #00c4af;
	margin-bottom:10px;
	padding:0 40px 5px 4px;
}
.modal_window .select_seller a,
#edit_product_window .edit_adress a, 
#add_to_list_window .edit_adress a,
#content_area.edit_page .edit_adress a {
	display:block;
	position:absolute;
	width:32px;
	height:32px;
	right:8px;
	top:50%;
	margin-top:-16px;
}
.modal_window .select_seller a img,
#edit_product_window .edit_adress a img, 
#add_to_list_window .edit_adress a img,
#content_area.edit_page .edit_adress a img {
	width:32px;
	height:32px;
}
.modal_window .select_seller span,
#edit_product_window .edit_adress span, 
#add_to_list_window .edit_adress span,
#content_area.edit_page .edit_adress span {
	color:#00bfab;
	font-size:1.067em;
}

#edit_product_window .edit_number, #add_to_list_window .edit_number {
	position:relative;
	text-align:center;
}
#add_to_list_window .edit_number {
	margin:15px 0;
}
#edit_product_window .edit_number .input_text_wrap, #add_to_list_window .edit_number .input_text_wrap {
	width:80px;
}
#edit_product_window .edit_number:after, #add_to_list_window .edit_number:after {
    content: "шт";
    display: block;
    position: absolute;
    right: 30px;
    top: 0;
	color:#7d7d7d;
}
#edit_product_window .edit_number .input_text_wrap input, #add_to_list_window .edit_number .input_text_wrap input {
	text-align:center;
}
#edit_product_window textarea {
	height:auto;
}
#edit_product_window .edit_number .down, #edit_product_window .edit_number .up,
#add_to_list_window .edit_number .down, #add_to_list_window .edit_number .up  {
	position:absolute;
	width:32px;
	height:32px;
	top:50%;
	margin-top:-16px;
}
#edit_product_window .edit_number .down, #add_to_list_window .edit_number .down {
	left:-40px;
	background:url(/mobile/images/down_up_new.png) 0 0 no-repeat;
}
#edit_product_window .edit_number .up, #add_to_list_window .edit_number .up {
	right:-40px;
	background:url(/mobile/images/down_up_new.png) 0 -42px no-repeat;
}
#add_price_window .input_price label {
	display:block;
	position:absolute;
    color: #3C4B54;
    font: 0.938em 'Roboto',​sans-serif;
	bottom:0px;
}
/***************************************/
#content_area {
	margin:0;
	padding: 0 0 50px;
}
#content_area:before {
	content:"";
	display:block;
	position:relative;
	height:50px;
	width:100%;
	visibility:hidden;
}
.seller_filter_wrap #content_area:before {
	height:184px;
}
.addres_selection_wrap #content_area:before {
	height:79px;
}
.address_selection_result_wrap #content_area:before {
	height:125px;
}
.address_selection_result_wrap #content_area.double:before {
	height:175px;
}
.top_panel_wrap #content_area:before {
	height:97px;
}
.edit_page_wrap #content_area:before {
	height:65px;
}
.product_search_seller_wrap #content_area:before {
	height:180px;
}
.action_sellers_wrap #content_area:before {
	height:120px;
}
.main_seller_wrap #content_area:before {
	height:165px;
}
.filter_cat_wrap #content_area:before {
	height:154px;
}

.edit_page_wrap #content_area {
	padding:0 3% 50px !important;
	width:100%;
	position:relative;
	margin:0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 	
}
.edit_page_wrap #content_area div {
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}
.edit_page_wrap #content_area .input_text_wrap {
	margin-bottom:20px;
}
.edit_page_wrap #content_area .edit_adress .input_text_wrap {
	width:100%;
}
.edit_page_wrap #content_area .edit_price, .modal_window .input_price {
	text-align: justify;
	line-height: 0;
	text-justify: newspaper;
	zoom:1;
	text-align-last: justify;
}
.edit_page_wrap #content_area .edit_price:after, .modal_window .input_price:after {
	width: 100%;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}
.edit_page_wrap #content_area .edit_price > div, .modal_window .input_price > div {
	display:inline-block;
	
	text-align: left;
	line-height: normal;
	vertical-align: top;	
}
.edit_page_wrap #content_area .edit_price .input_text_wrap {
	width:75%;
}
.edit_page_wrap #content_area .edit_price .input_text_wrap input {
	text-align:center;
}
/***********************************************/
.edit_price .currency, .input_price .currency {
    border-bottom: 1px solid #00C5B0;
    color: #3c4b54;
    font: 1em 'Roboto',sans-serif;
    margin-left: 10px;
    padding: 0 8px 2px;
    position: relative;
    text-align: center;
    width: 55px;
	margin-top:6px;
}
.currency .currency_list {
	display:none;
	position:absolute;
	width:100%;
	top:27px;
	left:0;
	z-index:9000;
	background:#f5f5f5;
	border:1px solid #e9e9e9;
	padding:0 2px;
}
.currency .currency_list.active {
	display:block;
}

.currency .currency_list_item {
	text-align:center;
	border-top:1px solid #cfcfcf;
	color:#000;
	font:0.875 'Roboto',sans-serif;
	padding:10px 0;
}
.currency .currency_list_item:first-child {
	border:none;
}
.edit_page_wrap #content_area .edit_price .currency:before, 
.edit_page_wrap #content_area .edit_price .currency:after {
    background: #00C5B0;
    bottom: 0;
    content: "";
    height: 4px;
    position: absolute;
    width: 1px;
}
.edit_page_wrap #content_area .edit_price .currency:before {left:0}
.edit_page_wrap #content_area .edit_price .currency:after {right:0}
.edit_page_wrap #content_area .edit_number:after {
    color: #3c4b54;
    content: "шт";
    display: block;
    position: absolute;
    right: 20px;
    top: 0;
	font-family:'Roboto',sans-serif;
}
.edit_page_wrap #content_area .edit_number {
	position:relative;
	text-align:center;
}
.edit_page_wrap #content_area .edit_number .input_text_wrap {
    width: 80px;
}
.edit_page_wrap #content_area .edit_number .input_text_wrap input {
	text-align:center;
}
.edit_page_wrap #content_area .edit_number .down, 
.edit_page_wrap #content_area .edit_number .up {
    height: 32px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 32px;
}
.edit_page_wrap #content_area .edit_number .down {
    background: url("/mobile/images/down_up_new.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: -40px;
}

.edit_page_wrap #content_area .edit_number .up {
    background: url("/mobile/images/down_up_new.png") no-repeat scroll 0 -42px rgba(0, 0, 0, 0);
    right: -40px;
}



/****************************************/
#footer_action_button {
	margin:0 auto;
	position:relative;
	width:100%;
	max-width:300px;
}

